<footer>
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-col">
        <h6>About DG</h6>
        <ul>
          <li>
            <a href="#" class="navigation-menu__link">
              DS Careers</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              About Us</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Investor Information</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Organizational Accounts</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              DS Me</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Literacy Foundation</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Newsroom</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Real Estate</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Alternative Dispute Resolution</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Vendors</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              New Vendors</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Serving Others</a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h6>Support</h6>
        <ul>
          <li>
            <a href="#" class="navigation-menu__link">
              Help Center</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Track My Order</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Product Recalls</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Gift Card Balance</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Accessibility Statement</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Accessibility Support</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              California Supply Chain Act</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              California Privacy Notice for Employees</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Your Privacy Choices</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Cookie Preferences</a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h6>Stores</h6>
        <ul>
          <li>
            <a href="#" class="navigation-menu__link">
              Store Locator</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Store Directory</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Store Survey (receipt required)</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              DS Market</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              DS Market + pOpshelf</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              pOpshelf</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              DSx</a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h6>Services</h6>
        <ul>
          <li>
            <a href="#" class="navigation-menu__link"> FedEx</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              DoorDash</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              DS Pickup</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              DS GO! &amp; Cart Calculator</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Download App</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link"> Coupons</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              spendwell</a>
          </li>
          <li>
            <a href="#" class="navigation-menu__link">
              Western Union</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom-prt">
    <div class="footer-mini-logo">
      <img src="images\logo_mini.png" alt="" />
    </div>

    <div class="socialmedia">
      <div class="fb-div">
        <a href="www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
      </div>
      <div class="tw-div">
        <a href=""><i class="fa-brands fa-square-twitter"></i></a>
      </div>
      <div class="insta-div">
        <a href=""> <i class="fa-brands fa-square-instagram"></i></a>
      </div>
      <div class="pint-div">
        <a href=""><i class="fa-brands fa-square-pinterest"></i></a>
      </div>
      <div class="in-div">
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="yt-div">
        <a href=""><i class="fa-brands fa-square-youtube"></i></a>
      </div>
    </div>

    <div class="text-footer-end">
      <p>Privacy | Terms</p>
      <p>
        © Copyright 2023. Dollar General Corporation. All rights reserved.
      </p>
    </div>
  </div>
</footer>