* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  height: 10px;
  background: #feef02;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#navigationBar {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 65px;
}
#nav-logo-img {
  margin-left: 20px;
  width: 170px;
  height: 35px;
}
#nav-signin-id {
  height: 40px;
  display: flexbox;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}
#nav-signin-id:hover a {
  color: #feef02;
}
#nav-signin-id:hover p {
  color: #feef02;
}
.singin-nav {
  color: white;
  font-size: 22px;
  text-decoration: none;
}
.signintxt {
  color: white;
  font-size: 12px;
}

.navbar-search {
  margin: auto;
  width: 200%;
  height: 40px;
}
.nav-opt:hover {
  text-decoration: underline;
}

.navbar-search {
  width: 400px;
}

#navbar-submenu {
  width: 200px;
  margin-top: 11px;
  margin-left: -5px;
  background-color: #000000;
  border-radius: 0;
}
#navbar-submenu > li > a {
  color: white;
}
#navbar-submenu > li > a:hover {
  background-color: #000000;
  text-decoration: underline;
  zoom: 110%;
}

#carouselExampleIndicators {
  width: 73%;
  margin: auto;
  padding-top: 150px;
}
.top-carousel {
  margin-bottom: -60px;
  z-index: -1;
}
#top-slider-btn1 {
  background-color: #272727;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
#top-slider-btn2 {
  background-color: #272727;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
}
#top-slider-btn3 {
  background-color: #272727;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 20px;
}
.previous-btn-mid-crousel {
  background-color: rgb(171, 171, 171);
  margin-top: 40vh;
  margin-left: -4vw;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.next-btn-mid-crousel {
  background-color: rgb(171, 171, 171);
  margin-top: 40vh;
  margin-right: -4vw;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.next-btn-mid-crousel:hover,
.previous-btn-mid-crousel:hover {
  background-color: rgb(103, 103, 103);
}
.top-card-section {
  width: 40vw;
  margin: auto;
  margin-top: 110px;
  display: flex;
  justify-content: space-evenly;
}

.top-banner-carousel {
  cursor: pointer;
}

.col-top-section {
  display: flex;
  width: 250px;
  border: 1px solid gray;
  border-radius: 2.680965147453083vh;
  height: 13vh;
  cursor: pointer;
}
.top-card-section > .col > img {
  margin: auto 20px auto 10px;
  height: 8vh;
  width: 22%;
}

.top-card-h5 {
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 2.680965147453083vh;
}

.dgmngam.aem-GridColumn.aem-GridColumn--default--12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.title--section .cmp-title__text,
.title--section-dark .cmp-title__text,
.title--padding-bottom-short .cmp-title__text,
.title--padding-top-short .cmp-title__text,
.title--hide-section-line .cmp-title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  font-weight: 600;
}

.cmp-title {
  margin-bottom: 20px;
  text-align: center;
  height: inherit;
}

.cmp-title__text {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  /* margin-left: 32px; */
  position: relative;
  top: 14px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
  margin-top: 45px;
}

.cmp-title > span {
  padding: 0px 0px;
  display: inline-block;
  border-bottom: 14px solid #feef02;
  line-height: 0.2;
}

.top-card-categouy {
  width: 73%;
  margin: 70px auto;
}
.top-card-categouy > .col {
  width: 16%;
  height: 200px;
  text-align: center;
}
.top-card-categouy > .col > a > img {
  width: 70%;
  height: 120px;
  background-color: rgb(239, 239, 239);
  border-radius: 20px;
  cursor: pointer;
}
.top-card-categouy-txt {
  font-size: 18px;
}

.hr-refresh {
  margin-top: -100px;
}
.refresh-grid-img {
  width: 73%;
  margin: auto;
}
.refresh-grid-img > .col > .card {
  cursor: pointer;
}

#refresh-crousel {
  width: 73.5%;
  margin: auto;
  margin-top: 40px;
  z-index: 0;
}
.refresh-crousel-item {
  width: 90%;
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
/* .owl-prev>span{
  border: 1px solid black;
  width: 40px;
  height: 40px;
  
} */
.refresh-crousel-item > img {
  margin: auto;
  width: auto !important;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
}
.refresh-crousel-item > p {
  font-size: 12px;
  padding: 5px 10px 0 10px;
}
.refresh-carousel-div .owl-prev span {
  position: absolute;
  top: 12vh;
  left: -3vw;
  font-size: 40px;
}
.refresh-carousel-div .owl-prev span:hover {
  color: black;
}

.refresh-carousel-div .owl-next span {
  position: absolute;
  top: 12vh;
  right: -3vw;
  font-size: 40px;
}
.refresh-carousel-div .owl-next span:hover {
  color: black;
}

.popular-title {
  margin-top: -20px;
}

.mid-section-img-1 {
  border: none;
  margin: auto;
  width: 73%;
}

.card-carousel-mid-section {
  width: 73%;
  margin: auto;
  padding: 22px 0 22px 0;
}
.cards-wrapper1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.card-section {
  transition: transform 0.2s;
  border: none;
  cursor: pointer;
}

.card-section:hover {
  transform: scale(1.1);
}

.previous-btn-mid-crousel-deal0ftheday {
  background-color: rgb(171, 171, 171);
  margin-top: 20vh;
  margin-left: 9vw;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.next-btn-mid-crousel-deal0ftheday {
  background-color: rgb(171, 171, 171);
  margin-top: 20vh;
  margin-right: 9vw;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.next-btn-mid-crousel-deal0ftheday:hover,
.previous-btn-mid-crousel-deal0ftheday:hover {
  background-color: rgb(171, 171, 171);
}
footer {
  margin-top: 50px;
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 40px;
}

.footer-container {
  margin: auto;
  text-align: left;
  width: 100%;
}
.footer-row {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.footer-col {
  padding-right: 20px;
  width: 100%;
}
.footer-col > h6 {
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.25rem;
  font-weight: 700;
  padding-left: 20px;
  padding-bottom: 8px;
  text-decoration: underline;
}

.footer-col > ul > li > a {
  text-decoration: none;
  font-size: 0.78rem;
  line-height: 2rem;
  font-weight: 500;
  color: white;
  letter-spacing: 0.5px;
  padding-left: 20px;
}
.footer-col > ul > li > a:hover {
  text-decoration: underline;
}
.footer-col > ul {
  list-style: none;
  padding-left: 0;
}

.footer-bottom-prt {
  /* border: 1px solid white; */
  text-align: center;
  width: 25%;
  margin: auto;
  margin-top: 40px;
}
.footer-mini-logo > img {
  width: 60px;
  height: 60px;
}
.playstoreandappstore {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  margin-top: 40px;
}
.appstore {
  padding: 10px;
}
.appstore > img {
  width: 110%;
  height: 40px;
}
.playstore {
  padding: 10px;
}
.playstore > img {
  width: 100%;
  height: 40px;
}

.socialmedia {
  display: flex;
  width: 55%;
  justify-content: space-evenly;
  margin: 20px auto auto auto;
}
.socialmedia > div > a > i {
  color: #feef02;
  font-size: 1.2rem;
}
.socialmedia > div > a > i:hover {
  color: azure;
}

.text-footer-end {
  border: 1px solid black;
  margin-top: 40px;
}

.text-footer-end > p {
  font-size: 10px;
  color: #dfdfdf;
  margin-bottom: 20px;
}
@media all and (max-width: 991px) {
  #nav-logo {
    position: relative;
    top: 5px;
  }
  .nav-item > a {
    background-color: black;
    color: black;
  }

  .navbar-nav {
    margin-top: 20px;
  }

  .top-card-categouy {
    width: 73%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .top-card-categouy > .col {
    width: 100%;
    height: 200px;
    text-align: center;
  }
}

#cartlogo {
  margin: auto;
  margin-right: 40px;
  text-align: center;
}
#cartlogo > svg {
  height: 28px;
  /* width: 40px; */
  font-weight: 800;
}
#cartlogo > p {
  margin-top: 2px;
  color: white;
  font-size: 12px;
}
